<div class="card">
    <div class="card-header">
        <h1>Agregar nueva cuenta</h1>
    </div>
    <div class="card-body">

        
        <div class="container">
            <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Nombre del titular: </label>
                    <input type="text" class="form-control" formControlName="titular">
                </div>
                <div class="form-group">
                    <label>Ingrese valor a consignar:</label>
                    <input type="number" class="form-control" min="10000" max="9000000000000" value="10000" step="10000" formControlName="saldo">
                </div>
                
                <div class="form-group">
                    <label>Estado:</label>
                    <select class="form-control" formControlName="estado">
                        <option value="">Seleccione estado</option>
                        <option value="Activada">Activada
                        </option>
                        <option value="Desactivada">Desactivada</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Tipo de cuenta:</label>
                    <select class="form-control" formControlName="tipo">
                        <option value="">Seleccione tipo de cuenta</option>
                        <option value="Ahorro">Ahorro
                        </option>
                        <option value="Corriente">Corriente</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                <button class="btn btn-outline-dark mr-2" (click)="atras()">Atras</button>
            </form>
        </div>
    </div>
</div>